<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>UKIJQol_Tuz.ttf</string>
		<string>UKIJTuT.ttf</string>
		<string>NotoKufiArabic-Regular.ttf</string>
		<string>ALKATIP Asliya.TTF</string>
	</array>
</dict>
</plist>
